* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  height: 100vh;
}

.top {
  height: 60px;
  background: #212135;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  
}

.admin {
  margin-left: 20px;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 220px;
  background-color: rgb(16, 18, 31);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height:300px;
}

.sidebar div {
  cursor: pointer;
  opacity: 0.9;
}

.content {
  flex: 1;
  padding: 25px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h3 {
  font-size: 14px;
  color: #6b7280;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.stat {
  flex: 1;
  background: #2563eb;
  color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}